**/__pycache__/*
env_m2t/*
env/*
img/lsp*
output/*
.idea

## aux TeX files
_minted-*
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.glg
*.glo
*.gls
*.ist
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.run.xml
*.synctex.gz
*.fmt
*.fot
*.cb
*.cb2
.*.lb
